/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

body 
  font-family 'DM Sans' !important
  font-weight: 500

.home .hero img
  max-width 450px!important

.site-name
  display: none!important
